@import "../sass/mixins";  
.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-n-block {
    display: inline-block;
}

.d-flex {
    @include flexbox();
}

.flex-wrap {
    @include flex-wrap(wrap);
}

.flex-nowrap {
    @include flex-wrap(nowrap);
}

.justify-content-center {
    @include justify-content(center);
}

.justify-content-left {
    @include justify-content(left);
}

.justify-content-right {
    @include justify-content(right);
}

.justify-spacebetween {
    @include justify-content(space-between);
}

.align-items-center {
    @include align-items(center);
}

.align-flex-end {
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
    flex-direction: column;
}
.disabled{
    opacity: .6;
    pointer-events: none;
}
.v-align-center{
    @extend .d-flex;
    @extend .justify-content-center;
    height: 100%;
    flex-direction: column;
    padding:rem(20) 0;
    box-sizing: border-box;
}

